
#center-accordion{
  display: flex;
  justify-content: center;
  // margin-right: 9%;
  @include bp(mobile){
    // margin-right: 13%;
  }
}


.accordion {
  // display: flex;
   margin-top: em(70px);
  justify-content: center;
    font-family: $stack-garamond;
    // margin-left: 2.5%;
    font-size:24px;
    // border:1px solid #542437;
    // border-radius:10px;
    width: 90vw;
    // margin-left: 5vw;
    background: $charcoal;
    @include bp(tablet_small){
      margin-left: 3%;
    }

    @include bp(fullscreen){

      //  margin-left: 7%;
    }
}

.accordion ul {
	list-style: none;
	// margin: 0 auto;
	text-align: center;
}
.accordion li {
    margin:0;
    padding:0;
    @include bp(mobile){
      width: 220px;
    }

}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    // border:1px solid #542437;
    color: $sand;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    @include bp(fullscreen){
      line-height: 50px;
      font-size: $font-size__h5;
      text-align: center;
    }
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background: $cabernet-red;
    color: $ivory;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {

     overflow:hidden;
     border: 1px solid $mustard; /* Make the border match the background so it fades in nicely */
    // border: 100px solid $red;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}






/* Vertical */
.vertical ul li {
     overflow:hidden;
    // margin:0 0 1px;


}
.vertical ul li label {

     padding:20px;

}


/*hide content before labels clicked*/
.vertical ul li .content {
 height: 0px;
 border-top:0;


}

// contains thumbnail images
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height: 250px;
    // border:2px solid darken($red, 20%);
    background-color: darken($red, 20%);

     padding-top: 10%;
     padding-bottom: 70px;
      @include bp(tablet_small){
        height: 400px;
        padding-top: 2%;
      }
   @include bp(fullscreen){
     text-align: center;
     padding-bottom: 530px;
   }
}

.img-thumbnail{
  width: 720px;
  @include bp(mobile){
    height: 140px;
  }
}
