    #certs{
      display:flex;
      justify-content: center;
    }

   .box6 h3, .box7 h3, .box12 h3{
      margin-bottom: 30%;
      text-align: center;

    }

    h1.certsh1{
      margin-bottom: em(25px);
    }

    #container{
      position: relative;
      width: 90vw;
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      /*height: 600px;*/
      margin-left: 5vw;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      // background-color: #392d2d;
      background-color: transparent;
      @media screen and (max-width: 480px) {
        width: 95vw;
        margin-left: 2.5vw;

        }
     }

    .wrap {
      /*min-height: 30vh;*/
      display:flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      font-weight: 100;
      color:white;
      margin: 30px;
    }


    .box,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9,
    .box10,
    .box11,
    .box12 {
      background: #46200c center fixed no-repeat;
      width:150px;
      height:150px;
      padding:50px;
      transition: width 0.2s, height 0.6s;
      position: relative;
      border: 4px solid #bd1b0f;

    }

    .box6 .socialCerts,
    .box7 .socialCerts,
    .box12 .socialCerts {
        margin-left: 2%;
      }

      .box8 .socialCerts,
      .box9 .socialCerts,
      .box11 .socialCerts{
        margin-top: 10px;
      }


      .box.opening,
      .box2.opening2,
      .box3.opening3,
      .box4.opening4,
      .box5.opening5,
      .box6.opening6,
      .box7.opening7,
      .box8.opening8,
      .box10.opening10,
      .box11.opening11 {
        width:500px;
        height:661px;
        margin-top: 100px;
        padding-bottom: 100px;
      }

      .box12.opening12{
        width:500px;
        height:661px;
        margin-top: 10px;
        padding-bottom: 100px;
      }

      .box9.opening9,
      .box11.opening11{
        width:500px;
        height:561px;
        margin-top: 100px;
        padding-bottom: 100px;
      }

      @media screen and (max-width: 360px){
          .box.opening,
          .box2.opening2,
          .box3.opening3,
          .box4.opening4,
          .box5.opening5,
          .box6.opening6,
          .box7.opening7,
          .box9.opening9,
          .box10.opening10,
          .box11.opening11,
          .box12.opening12
           {
            height: 350px;
           }

          .box8.opening8
           {
            height: 390px;
          }
         }

    // @include bp(iPhone6){
    //     .box.opening , .box2.opening2, .box3.opening3, .box4.opening4, .box5.opening5{
    //     height: 380px;
    //     width: 300px;
    //     margin-top: 10px;
    //     padding-bottom: 10px;
    //   }
    // }

    @media screen and (max-width: 480px) {
      .box.opening ,
      .box2.opening2,
      .box3.opening3,
      .box4.opening4,
      .box5.opening5,
      .box6.opening6,
      .box7.opening7,
      .box9.opening9,
      .box12.opening12 {
        height: 380px;
        width: 300px;
        margin-top: 10px;
        padding-bottom: 10px;
     }

     .box11.opening11  {
      height: 450px;
      width: 300px;
      margin-top: 10px;
      padding-bottom: 10px;
   }

      .box8.opening8,
      .box10.opening10{
        height: 450px;
        width: 300px;
        margin-top: 10px;
        padding-bottom: 10px;
     }

   .wrap{
     font-size: 15px;
     margin: 5px;
   }

   .box6 h3, .box7 h3, .box12 h3{
     font-size: 1.2em;
   }


   h1.certsh1{
     font-size: $font-size__med;
     margin-bottom: em(30px);
   }
  }

   @media screen and (min-width: 768px) {

    .wrap{
      margin: 80px;
      position: relative;
    }

    .box.opening,
    .box2.opening2,
    .box3.opening3
    .box4.opening4,
    .box5.opening5,
    .box6.opening6,
    .box7.opening7,
    .box8.opening8,
    .box9.opening9,
    .box10.opening10,
    .box11.opening11,
    .box12.opening12{
      position: absolute;
    }

     .box.opening,
     .box2.opening2,
     .box3.opening3
    //  .box4.opening4,
    //  .box5.opening5,
    //  .box6.opening6,
    //  .box7.opening7
    //  .box12.opening12
     {
       height: 530px;
       width: 400px;
       margin-top: 10px;
       padding-bottom: 10px;
       margin-top: 400px;
    }

    .box2.opening2{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-top: 340px;
    }
    .box3.opening3{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-top: -230px;
    }

    .box4.opening4{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-top: 150px;
    }
    .box5.opening5{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 100px;
    }
    .box6.opening6{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 200px;
    }
    .box7.opening7{
      height: 530px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 300px;
    }

    .box8.opening8 {
       height: 560px;
       width: 400px;
       margin-top: 10px;
       padding-bottom: 10px;
       margin-bottom: 400px;
    }

    .box9.opening9 {
      height: 460px;
      width: 400px;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      margin-bottom: 600px;
    }

    .box10.opening10 {
      height: 570px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 700px;
    }

    .box11.opening11 {
      height: 580px;
      width: 400px;
      margin-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 800px;
    }


    .box12.opening12 {
      height: 530px;
      width: 400px;
      /* margin-top: 10px; */
      padding-bottom: 10px;
      margin-bottom: 1100px;
    }


  }

    h3.name1,
    h3.name2,
    h3.name3,
    h3.name4,
    h3.name5,
    h3.name6,
    h3.name7,
    h3.name8,
    h3.name9,
    h3.name10,
    h3.name11,
    h3.name12 {
      margin-top: 0px;
      font-size: $font-size__med;
    }


    .box.name1,
    .box2.name2,
    .box3.name3,
    .box4.name4,
    .box5.name5,
    .box6.name6,
    .box7.name7,
    .box8.name8,
    .box9.name9,
    .box10.name10,
    .box11.name11,
    .box12.name12 {
      // position: absolute;
      width:20%;
      font-size: 70px;
      transform:translateX(-200%);
      transition: all 0.5s;
      // top:0;

    }

    .box p,
    .box2 p,
    .box3 p,
    .box4 p,
    .box5 p,
    .box6 p,
    .box7 p,
    .box8 p,
    .box9 p,
    .box10 p,
    .box11 p,
    .box12 p{
      // position: absolute;
      width: 100%;
      transform:translateX(200%);
      transition: all 0.5s;
      // bottom:0;
    }

    .box.open > *,
    .box2.open2 > *,
    .box3.open3 > *,
    .box4.open4 > *,
    .box5.open5 > *,
    .box6.open6 > *,
    .box7.open7 > *,
    .box8.open8 > *,
    .box9.open9 > *,
    .box10.open10 > *,
    .box11.open11 > *,
    .box12.open12 > * {
      transform:translateX(0%);
    }


    .secImg10{
      margin-top: 0px;
    }


