.pEl{
  margin-top: 30px;
  line-height: $line-height;
  font-size: 20px;
  font-family: $stack-abolition;
}

.pClose{
  margin-left: 70px;
  font-size: $font-size__h2 ;
  color: $ivory;
  @include bp(tablet){
    margin-top: -5px;
  }
}


/*Footer*/

footer {
  @include flex;
  @include flex_justify_center;
  @include flex_align_center;
  margin: 60px auto;
  /*float: left;*/
 //  @include flex;
 // @include flex_justify_center;
 //  width: 100%;
  @include bp(tablet){
  margin-top: 70px;
  margin-bottom: 70px;

}

}

ul li{
  list-style-type: none;
}
.social{
   @include flex;
   @include flex_justify_center;
   @include flex_align_center;
   margin-right: 9.5%;
   margin-bottom: em(10px);
   margin-right: 10%;
   

}
a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;

  // background-size: 40px 40px;
  opacity: .7;
  transition: all .5s;


}


a.social:hover {
  opacity: 1;

}

a.twitter{

   background-image: url(../images/photos/twitter.svg) ;


}
a.youtube{
 background-image:  url(../images/photos/youtube3.svg);
}
a.facebook {
  background-image: url(../images/photos/facebook-square.svg) ;


}
a.linkedIn{
  background-image: url(../images/photos/linkedin.svg);

}

a.github{
    background-image: url(../images/photos/github.svg);
}
/*a.spotify{
  background-image: url(../img/spotify-32copy.png);


}*/

a.soundcloud{
  background-image: url(../images/photos/soundcloud.svg);
}
.copyright{
  text-align: center;
}
