
doctype html
html.no-js(lang='en-us')
  head
    meta(charset='utf-8')
    title `#{title} | #{h.siteName}`
    meta(name='description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css', rel='stylesheet')
    link(rel='stylesheet', href='/dist/style.css')
    //-link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')



include navbar1
include header
include jumbotron1

block content
body#myPage(data-spy='scroll', data-target='.navbar', data-offset='60')
  #wrapper
  .main.container
  .row
    .col-md-10.col-md-offset-1
      h1.display-4.m-b-2 My Story
      p.animation-element.slide-left.testimonial Born in Chicago with a passion for music and singing that began at a young age, I made the choice to relocate to Los Angeles with my band FireBug to pursue my dream of becoming a part of the music business. After spending some time in Los Angeles, my partner and I relocated to New Orleans to soak up the rich musical culture that the region has to offer. After ultimately realizing that it was time to return the West Coast, I once again find myself back in SoCal where I know live and perform locally as a signed artist (Spectra Records) with my band FireBug.
      p.animation-element.slide-left.testimonial My journey into web development began as a result of my desire to learn more about the ever changing world of technology. I began my immersing myself in books and online courses with SitePoint and Treehouse before ultimately signing up for the Treehouse Front End Tech Degree program. Upon completion of the Front End Tech Degree program I have been adding to what I have learned by continuing to take courses via Treehouse, MongoDB University, Pluralsight, instructors Wes Bos and Zac Gordon, all with a heavy emphasis on Javascript and MongoDB. In my free time I love to explore hiking trails, nature, as well as kicking back with my husband and our rescue dog Virgil.


      include map
      footer.footer
        .container.text-center
          p Connect with me
          p#email Email: juliette.tworsey@gmail.com
          ul.social
            li
              a#twitter.social.twitter(href='https://twitter.com/firebugmusic', aria-hidden='true') Twitter
            li
              a#linkedIn.social.linkedIn(href='https://www.linkedin.com/in/juliettetworsey', aria-hidden='true') linkedIn
            li
              a.social.youtube(href='https://www.youtube.com/user/polejar', aria-hidden='true') YouTube
            li
              a.social.facebook(href='http://www.facebook.com/firebugmusic', aria-hidden='true') Facebook
            li
              a.social.github(href='https://github.com/firebuggirl', aria-hidden='true') Facebook
          p.copyright © 2017 Juliette Tworsey
    block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script.
      mapboxgl.accessToken = `#{h.staticMap}`;
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/firebuggirl/cj94md3tt098k2ssa3kemjcn6',
      zoom: 7.51,
      center: [-116.495811, 33.352410]
      });
      var layerList = document.getElementById('menu');
      var inputs = layerList.getElementsByTagName('input');



    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='/dist/App.bundle.js')
    script(src='js/data.js')
    script(src='js/animate.js')



    script.
      WebFont.load({
      google: {
      families: ['Roboto:400,100,300,500,700,900', 'Amatic SC']
      }
      });
    script.
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', "https://www.google-analytics.com/analytics.js", 'ga');
      ga('create', 'UA-84480975-1', 'auto');
      ga('send', 'pageview');
