block content
#devSection.container
  span
    b.glyphicon.glyphicon-asterisk
  h3#devH3 Dev Projects
  span
    b.glyphicon.glyphicon-asterisk
.accordion.vertical
  ul
    li
      input#radio-0(type='radio', name='radio-accordion', checked='')
      label(for='radio-0') Full stack restaurant application
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/snacksthumb.png', alt='Responsive Form')
          .media__body.body0(data-toggle='modal', data-target='#proj0')
            i
            h2
              a(href='#') Full stack restaurant application
    li
      input#radio-1(type='radio', name='radio-accordion')
      label(for='radio-1') Customize Wordpress
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/firebugwordpress.png', alt='Juliette profile page')
          .media__body(data-toggle='modal', data-target='#test')
            i
            h2
              a(href='#') Customize Wordpress
    li
      input#radio-2(type='radio', name='radio-accordion')
      label(for='radio-2') Online Registration Form
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project3thumb.jpg', alt='Responsive Form')
          .media__body.body2(data-toggle='modal', data-target='#proj2')
            i
            h2
              a(href='#') Online Registration Form
    li
      input#radio-3(type='radio', name='radio-accordion')
      label(for='radio-3') Interactive Photo Gallery
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project4thumb.jpg', alt='Interactive Photo Gallery')
          .media__body.body3(data-toggle='modal', data-target='#proj3')
            i
            h2
              a(href='#') Interactive Photo Gallery
    li
      input#radio-4(type='radio', name='radio-accordion')
      label(for='radio-4') FireBug Music
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/firebugmusicthumb.jpg', alt='Juliette profile')
          .media__body.body4(data-toggle='modal', data-target='#proj4')
            i
            h2
              a(href='#') FireBug Music
    li
      input#radio-5(type='radio', name='radio-accordion')
      label(for='radio-5') SVG Site Update
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project6thumb.jpg', alt='SVG Site Update')
          .media__body.body5(data-toggle='modal', data-target='#proj5')
            i
            h2
              a(href='#') SVG Site Update
    li
      input#radio-6(type='radio', name='radio-accordion')
      label(for='radio-6') Interactive Video Player
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project7thumb.jpg', alt='Interactive Video Player')
          .media__body.body6(data-toggle='modal', data-target='#proj6')
            i
            h2
              a(href='#') Interactive Video Player
    li
      input#radio-7(type='radio', name='radio-accordion')
      label(for='radio-7') Accessibility Refactor
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project8thumb.jpg', alt='Accessibility Refactor')
          .media__body.body7(data-toggle='modal', data-target='#proj7')
            i
            h2
              a(href='#') Accessibility Refactor
    li
      input#radio-8(type='radio', name='radio-accordion')
      label(for='radio-8') Web App Dashboard
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project9thumb.jpg', alt='Web App Dashboard')
          .media__body.body8(data-toggle='modal', data-target='#proj8')
            i
            h2
              a(href='#') Web App Dashboard
    //
      <li>
      <input type="radio" id="radio-9" name="radio-accordion">
      <label for="radio-9">Public API</label>
      <div class="content clearfix">
      <div class="container text-xs-center media mobileView"><img src=images/photos/project10thumb.jpg alt="Public API" class="img-thumbnail img-responsive media__image">
      <div class="media__body body9" data-toggle="modal" data-target="#proj9"><i></i>
      <h2><a href="#">Public API</a></h2></div>
      </div>
      </div>
      </li>
    li
      input#radio-10(type='radio', name='radio-accordion')
      label(for='radio-10') Project Optimize
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project11thumb.jpg', alt='Project Optimize')
          .media__body.body10(data-toggle='modal', data-target='#proj10')
            i
            h2
              a(href='#') Project Optimize
    li
      input#radio-11(type='radio', name='radio-accordion')
      label(for='radio-11') CSS to Sass
      .content.clearfix
        .container.text-xs-center.media.mobileView
          img.img-thumbnail.img-responsive.media__image(src='images/photos/project5thumb.jpg', alt='CSS to Sass')
          .media__body(data-toggle='modal', data-target='#proj11')
            i
            h2
              a(href='#') CSS to Sass
hr
#proj0.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal0
        .flexBtns.btns0
          a.btn.btn-danger.btn-md(href='https://snacks-n-hangs.herokuapp.com/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/dang-thats-delicious', target='_blank') View code
          button.btn.btn-success.btn-md.details0(type='button') View Details
        img#modal0Img(src='images/photos/snacks.png', alt='project 0')
#test.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal1
        .flexBtns
          a.btn.btn-danger.btn-md(href='https://firebugmusic.com', target='_blank') View Site
          button.btn.btn-success.btn-md.details(type='button') View Details
        img#modal1Img(src='images/photos/firebugresponsive.png', alt='FireBug Wordpress')
#proj2.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal2
        .flexBtns.btns2
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/treehouseform/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/treehouseform', target='_blank') View code
          button.btn.btn-success.btn-md.details2(type='button') View Details
        img#modal2Img(src='images/photos/project3.png', alt='project 3')
#proj3.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal3
        .flexBtns.btns3
          a.btn.btn-danger.btn-md(href='https://firebuggirl.github.io/lightgallery5/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/lightgallery5', target='_blank') View code
          button.btn.btn-success.btn-md.details3(type='button') View Details
        img#modal3Img(src='images/photos/project4.png', alt='project 4')
#proj4.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal4
        .flexBtns.btns4
          button.btn.btn-success.btn-md.details4(type='button') View Details
        img#modal4Img(src='images/photos/firebugmusic.png', alt='project FireBug Music')
#proj5.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal5
        .flexBtns.btns5
          a.btn.btn-danger.btn-md(href='https://firebuggirl.github.io/svg_update_v3/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/svg_update_v3/', target='_blank') View code
          button.btn.btn-success.btn-md.details5(type='button') View Details
        img#modal5Img(src='images/photos/project6.png', alt='project 6')
#proj6.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal6
        .flexBtns.btns6
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/project7videomaster/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/project7videomaster/', target='_blank') View code
          button.btn.btn-success.btn-md.details6(type='button') View Details
        img#modal6Img(src='images/photos/project7.png', alt='project 7')
#proj7.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal7
        .flexBtns.btn7
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/project8accessibility/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/project8accessibility/', target='_blank') View code
          button.btn.btn-success.btn-md.details7(type='button') View Details
        img#modal7Img(src='images/photos/project8.png', alt='project 8')
#proj8.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal8
        .flexBtns.btn8
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/appdashboard/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/appdashboard/', target='_blank') View code
          button.btn.btn-success.btn-md.details8(type='button') View Details
        img#modal8Img(src='images/photos/project9.png', alt='project 9')
#proj9.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal9
        .flexBtns.btn9
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/api4/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/api4', target='_blank') View code
          button.btn.btn-success.btn-md.details9(type='button') View Details
        img#modal9Img(src='images/photos/project10.png', alt='project 10')
#proj10.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal10
        .flexBtns.btn10
          a.btn.btn-danger.btn-md(href='http://firebuggirl.github.io/optimizemaster2/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/optimizemaster2/', target='_blank') View code
          button.btn.btn-success.btn-md.details10(type='button') View Details
        img#modal10Img(src='images/photos/project11.png', alt='project 11')
#proj11.modal.fade
  .modal-dialog
    .modal-content
      .modal-body.modal11
        .flexBtns.btn11
          a.btn.btn-danger.btn-md(href='https://firebuggirl.github.io/stickyheadercsstosass/', target='_blank') View Site
          a.btn.btn-warning.btn-md(href='https://github.com/firebuggirl/stickyheadercsstosass', target='_blank') View code
          button.btn.btn-success.btn-md.details11(type='button') View Details
        img#modal11Img(src='images/photos/project5.png', alt='project 5')
hr
hr
