block content

// <div >
//
  <svg class="svg">
  <rect x="0" y="0" stroke="transparent" fill="transparent"></rect>
  <text id="svgText" x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">Juliette Tworsey</text>
  </svg>
// </div>
