block content

.jumbotron.jumbotron-fluid.bg-info
  .container.text-xs-center
    img.img-circle.img-fluid.center-block(src='images/photos/profile3.jpg', alt='Juliette profile')
    h1
      svg.path
        rect(x='0', y='0', stroke='transparent', fill='transparent')
        text#svgText(x='50%', y='50%', alignment-baseline='middle', text-anchor='middle') Juliette Tworsey
    p.lead
      a(href='#devSection')
        span.lead1 Developer/
      a(href='#musicSection')
        span.lead2 Musician
