block content
#certs
  h1.certsh1 Certificates/Education
#container
  .wrap
    .box.boxes
      h3.name1 MongoDB Security
      img#secImg(src='images/photos/security-cert.png', alt='MongoDB Security Certificate')
      p.socialCerts @juliettetworsey
  .wrap
    .box2.boxes
      h3.name2 MongoDB Basics
      img#secImg2(src='images/photos/mongodb-basics.png', alt='MongoDB Basics Certificate')
      p.socialCerts @juliettetworsey
  .wrap
    .box3.boxes
      h3.name3 MongoDB for Node.js
      img#secImg3(src='images/photos/mongodb-node.jpg', alt='MongoDB for Node.js Certificate')
      p.socialCerts @juliettetworsey
  .wrap
    .box4.boxes
      h3.name4 Treehouse Front End Tech Degree
      img#secImg4(src='images/photos/treehouse-degree.png', alt='Treehouse Front End Tech Degree Certificate')
      p.socialCerts @juliettetworsey
  .wrap
    .box5.boxes
      h3.name5 MongoDB Performance
      img#secImg5(src='images/photos/mongodb-performance.png', alt='MongoDB Performance Certificate')
      p.socialCerts @juliettetworsey
