mixin animate()
  .animation-element.slide-left.testimonial
  			.header
  				.left
  					img(src="https://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM")
  				.right
  					h3 Johnathon Richard Smith
  					h4 CEO / Manager - Auto Incorporated
  			.content
  				i.fa.fa-quote-left
  				|  When I started using their service I was skeptical. They promised me a 300% return on my initial investment. However they came through on their word and now my business is flourishing..
  				i.fa.fa-quote-right
  			.rating
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star-half-o
  		//- testimonial two
  		.animation-element.slide-left.testimonial
  			.header
  				.left
  					img(src="https://drive.google.com/uc?export=download&id=0B7UPM0QugWUjV3BseTMtcEU1T2M")
  				.right
  					h3 Joanna Hammerlton
  					h4 Marketing Manager - Omega Creative
  			.content
  				i.fa.fa-quote-left
  				|  Our company first enlisted their services when we had a down-turn in sales and revene. They outlined a series of steps we could take to improve our position and within a year we are making signifcant improvements..
  				i.fa.fa-quote-right
  			.rating
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star
  				i.fa.fa-star-o
